.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 220px;
  height: 220px;

}

.userName {
  margin-bottom: 5px;
  word-break: break-word;
}

.userAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
  }
}

.usersFollowing {
  button {
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: #8224e3;
    border: 1px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    color: white;
    font-size: 18px;
    &:hover {
      background-color: #bc79ff;
      cursor: pointer;
    }
  }
}
