@import "../variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  a {
    color: inherit;
  }
}

.login {
  margin: 10px;
}

.loginBlock {
  a {
    svg:hover {
      stroke: $purple;
      fill: $purple;
      transform: scale(1.1);
      transition: 0.1s ease-in-out;
    }
  }
}

.logo {
  a {
    display: flex;
    align-items: center;

    width: 100%;
    span:first-child {
      margin-right: 10px;
      svg {
        display: flex;
        width: 30px;
        height: 30px;
      }
    }
  }
}
