.nav {
  grid-area: n;
  background-color: #221f36;
  padding: 20px;
}

.item {
  color: blue;

  a {
    text-decoration: none;
    color: white;
    &.activeLink {
      color: red;
    }
  }
}

.active {
  color: green;
}

