.nav {
  grid-area: n;
  background-color: #221f36;
  padding: 20px;
}

.item {
  color: blue;

  a {
    text-decoration: none;
    color: white;
    &.activeLink {
      color: red;
    }
  }
}

.active {
  color: green;
}

.friendsBlock {
  margin-top: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friendsTitle {
  font-size: 30px;
  
  margin-bottom: 10px;
}

.friendsName {
  font-size: 12px;
}

.friends {
  display: flex;
  img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}

.friend {
  margin: 0 5px;
  text-align: center;
}
