.loginBlock {
  font-size: 18px;
  min-width: 100px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #202020;
  color: #fff;
}

.formSummaryError {
  border: solid red 2px;
  padding: 5px;
  color: rebeccapurple;
}

.rememberMe {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  label {
    margin-left: 10px;
  }
  input{
    &:hover {
      cursor: pointer;
    }
  }
  
}

.inputField {
  width: 100%;

  .inputBlock {
    font-size: 18px;
    height: 43px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    padding: 0;
    padding-left: 5px;
    background: #b5adbd;
    color: #fff;
    border: 1px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    margin-bottom: 10px;
    border: 1px solid #000;
  }
}

.buttonBlock {
  height: 43px;
  width: 100%;
  background-color: #8224e3;
  border: 1px solid #eceff5;
  border-radius: 7px;
  transition: 0.2s ease-in-out;
  color: white;
  font-size: 18px;
  &:hover {
    background-color: #bc79ff;
    cursor: pointer;
  }
}

.loginForm {
  max-width: 250px;
  padding: 30px;
  margin: 0 auto;

  .login {
    text-align: center;
    margin-bottom: 10px;
  }
}
