.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 20px;
  .dialogsItems {
    .dialog {
      color: white;
      img{
        object-fit: cover;
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
      a{
        color: black;
        text-decoration: none;
      }
    }

    .active {
      color: hotpink;
    }
  }
  .messages {
    .message {
      color: black;
    }
  }
}


