@import "../variables";

.dialogs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "di mes"
    ". ne";
  padding: 20px;

  @media screen and (max-width: 1023px) {
    padding: 0;
  }
  form {
    grid-area: ne;
    max-width: 600px;
  }
  .dialogsItems {
    grid-area: di;
    align-items: center;

    .dialog {
      color: white;
      margin-bottom: 15px;
      img {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }

    .active {
      color: hotpink;
    }
  }
  .messages {
    grid-area: di;

    .message {
      display: flex;
      border-radius: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      max-width: 300px;
      color: black;
      margin-bottom: 15px;
      padding: 10px;
    }
  }
}

.messagesForm {
  padding: 30px;
}

.buttonPushPost {
  height: 30px;
  width: 150px;
  background-color: #8224e3;
  border: 1px solid #eceff5;
  border-radius: 7px;
  transition: 0.2s ease-in-out;
  color: white;
  font-size: 18px;
  &:hover {
    background-color: #bc79ff;
    cursor: pointer;
  }
}

.textareaEditForm {
  font-size: 18px;
  background: $form-background;
  color: $form-text-color;
  width: 100%;
  border: none;
  border-radius: 7px;
  padding: 10px;
  //outline : none;
  resize: none;
  font-family: "Poppins", sans-serif;
}
